<div class="coach-answer">
  <h1>Coach Answer ⚽️</h1>
  <div class="you">
    <p><em><%= @answer %></em></p>
    <p>-You</p>
  </div>

  <div class="coach">
    <p><em><%= @coach %></em></p>
    <p>-Your coach</p>
  </div>

  <%= link_to "Ask a new question", ask_path %>
</div>
