<div class="ask-page">
  <h1>Ask a question</h1>
  <form action="/answer" data-turbo="false">
    <label for="question">Ask now ­Ъце</label>
    <input type="text" name="question">
    <input type="submit" value="Ask!" class="submit-button">
  </form>
</div>
